@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/avenir-lt-pro');


body{
    background-color: #edfafaBB !important;
    font-family: 'Avenir', sans-serif;
}

.main-dark-color{
    color: #00A699;
}

.secondary-color{
    color: #E42726;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-family: 'Avenir LT Pro', sans-serif;
}

.block-header {
    display: flex;
    margin-left: 8px;
}

#sys_ws_login_form{
    background: linear-gradient(white, #00A699);
    padding: 15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.block-header-bottom {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin-left: 8px;
    margin-bottom: -30px;
}

.div-right-header{
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    margin-bottom: -15px;
}

.subtitle{
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-left: 5px;
    color: #000C92;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.subtitle-box{
    display: flex;
    justify-content: center;
}

.div-right-button{
    display: flex;
    align-items: center;
    color: #00A699;
    margin-right: 8px;
}

.horizontal-line-header{
    border-bottom: 3px solid #00A699;
}

.horizontal-line-content{
    border-bottom: 1px solid #00A699;
}

#username-btn{
    margin-bottom: -18px;
}

#div-deconnect-button{
    margin-bottom: -10px;
}

.labels{
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
    flex: 1;
}

.ui-input-search{
    width: 20%;
}

.ui-select{
    border-color: #000C92;
    width: 90%;
    flex: 4;
}


.select2-container--default .select2-selection--single {
    border-color: #000C92;
}

option{
    text-align: center;
    color: #000C92;
}

#destination-select{
    flex: 4;
}

.search{
    display: flex;
    justify-content: flex-end;
}

.navbar-under {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les boutons */
    padding: 10px;
    background-color: #edfafa; /* Change la couleur si besoin */
    border-top: 1px solid #ccc; /* Petite bordure en haut pour séparer du contenu */
}

.btn-footer{
    background-color: white;
    border: 2px solid #00A699;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -40px;
}

[data-role="footer"] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border: none; /* Suppression du contour extérieur */
}

th:first-child {
    border-left: none; /* Suppression bordure gauche */
}

th:last-child {
    border-right: none; /* Suppression bordure droite */
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-left: none; /* Suppression bordure gauche */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-right: none; /* Suppression bordure droite */
}

tr td:last-child {
    border-right: none; /* Suppression bordure droite */
}

tr td:first-child {
    border-left: none; /* Suppression bordure gauche */
}

tr:first-child th {
    border-top: none; /* Suppression bordure supérieure */
}

tr:last-child td {
    border-bottom: none; /* Suppression bordure inférieure */
}

tr td:last-child {
    display: flex;
    justify-content: center;
}

tr:nth-child(even){
    background-color: #F3F7F6;
}

th, td {
    border: 1.5px solid #00A69960;
    border-bottom: 0.5px solid #00A69960;
    border-top: 0.5px solid #00A69960;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #00a699;
    color: white;
    font-weight: bold;
}

td {
    color: #000C92;
}


.content{
    border: 3px solid #00a69860;
    background-color: white;
    margin: 15px;
    margin-top: 35px;
    border-radius: 10px;
    max-height: 77vh;
    color: #000C92;
}

.content-login{
    color: #000C92;
}

p{
    color: #000C92;
}

.deux-col{
    display: flex;
}

